.header__title{
   font-weight: 900;
   color: #198754 !important;
}
.header-button__exit{

}
.header-button__create-visit{
    display: none;
}
.header__doctor-icon{
   margin-left: 10px;
   width: 50px;
}
.navbar__search{
   margin-top: 30px !important;
   background-color: white !important;
}
.card{
   margin-bottom: 15px !important;
}
.card-body {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 .card-buttons {
    margin-bottom: 15px;
   display: flex;
   align-items: center;
   justify-content: space-around;
 }
.cards-list__wrapper{
   margin-top: 25px;
   padding: 25px;
   border: 2px solid rgba(25, 135, 84, .5);
   margin-bottom: 25px;
}
.cards-list__empty{
  display: flex;
  justify-content: space-around;
}
.cards-list__not-correctХ

.card-buttons{
   margin-top: 15px;
   margin-bottom: 15px;
}
.row{
   justify-content: space-between !important;
}
.form-button{
   margin-top: 15px;
   position: relative;
left: 50%;
transform: translate(-50%, 0);
}
.button-to-open-modul-create-visit{
   position: relative;
   left: 50%;
   transform: translate(-50%, 0);
}
.modal__change-status-button{
   margin-top: 15px;
   position: relative;
left: 50%;
transform: translate(-50%, 0);
}
.modal__item{
   margin-bottom: 5px;
}
@media screen and (min-width: 1000px) {
   .header__container {
      max-width: 900px;
   }
 }